*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
   
}

.custom-navbar{
    position: fixed;
    top: 0;
    /* color: #556A83; */
    background-color: #556A83(255, 255, 255, 0.2); 
	/* background-color: #556A83; */
    font-size: 20px;
} 

.name{
    font-weight: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 20px;
    width: 400px; /* Фиксированная ширина блока */

    margin: 0 auto; /* Центрирование блока по горизонтали */
    text-align: center; /* Центрирование текста в блоке */
    border-radius: 20px;
    
    opacity: 0;
    animation: ani 3s forwards;
    
    
}

.user-list{
    position: fixed;
    top: 200px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    font-weight: bold;
    font-weight: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    
}

.user-list a {
    color: rgb(0, 0, 0); /* Цвет ссылок */
    text-decoration: none; /* Убрать подчеркивание ссылок */
}

.user-list a:hover {
    color: rgb(255, 255, 255); /* Цвет ссылок при наведении */
}

.user-info {
    position: fixed;
    top: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
    font-weight: bold;
    font-weight: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    
}



.user-page{
    .container {
        display: flex;
        height: 100vh; /* Занимаем всю высоту окна браузера */
    }
    
}

.first-container {
    font-weight: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 20px;
    width: 400px; /* Фиксированная ширина блока */

    margin: 0 auto; /* Центрирование блока по горизонтали */
    text-align: center; /* Центрирование текста в блоке */
    border-radius:0 0 20px 20px; /* Закругления только внизу */
    /* opacity: 0;
    animation: ani 3s forwards; */
}



.button-name input[type="submit"] {
    width: 150px; /* Устанавливаем ширину кнопки */
    height: 50px; /* Устанавливаем высоту кнопки */
    border-radius: 20px; /* Задаем скругление углов кнопки */
    border: none; /* Убираем границу кнопки */
    background-color:#556A83; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    font-size: 20px; /* Размер шрифта кнопки */
    cursor: pointer; /* Задаем стиль указателя при наведении на кнопку */
    box-shadow: 0 5 10px 5px rgba(255, 255, 255, 0.5);
}


.name-write input[type="text"] {
    width: 200px; /* Устанавливаем ширину поля ввода */
    height: 40px; /* Устанавливаем высоту поля ввода */
    border-radius: 10px; /* Задаем скругление углов поля ввода */
    border: 1px solid #556A83; /* Задаем границу для поля ввода */
    padding: 5px; /* Устанавливаем отступы внутри поля ввода */
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    text-align: center;
     
}

.message {
    text-align: center;
    font-size: 20px;
    position: relative;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.input-field {
    width: 300px; /* Устанавливаем ширину поля ввода */
    height: 40px; /* Устанавливаем высоту поля ввода */
    border-radius: 10px; /* Задаем скругление углов поля ввода */
    border: 1px solid #556A83; /* Задаем границу для поля ввода */
    padding: 5px; /* Устанавливаем отступы внутри поля ввода */
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.submit-button {
    width: 150px; /* Устанавливаем ширину кнопки */
    height: 50px; /* Устанавливаем высоту кнопки */
    border-radius: 20px; /* Задаем скругление углов кнопки */
    border: none; /* Убираем границу кнопки */
    background-color:#556A83; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    font-size: 20px; /* Размер шрифта кнопки */
    cursor: pointer; /* Задаем стиль указателя при наведении на кнопку */
    box-shadow: 0 5 10px 5px rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    margin-top: -20px;


}
.message_last{
    position: relative;
    overflow: auto; /* Разрешаем появление полос прокрутки при необходимости */
    max-height: 400px; /* Устанавливаем максимальную высоту блока */
    margin: 0 auto; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 20px;
    width: 400px; /* Фиксированная ширина блока */
    border-radius:20px 20px 0 0 ; /* Закругления только внизу */

}

/* .chat h2 {
    text-align: center;
    font-size: 20px;
    position: relative;
    
}

.user_chat h2 {
    text-align: right;
    font-size: 20px;
    position: relative;
    
} */


.container {
    display: flex;
}

.chat, .user_chat {
    flex-grow: 1;
    font-size: 20px;
    position: relative;
}

.chat {
    text-align: center;
}

.user_chat {
    text-align: right;
}


.name_chat {
   
    top: 10px; 
    left: 10px; 
    width: 100%;
    text-align: center;
    
}
.message_last h2 {
    position: absolute; /* Установка абсолютной позиции */
    top: 0; /* Расположение сверху */
    left: 0; /* Расположение слева */
}

.all-tab{
    overflow: auto; /* Разрешаем появление полос прокрутки при необходимости */
    max-height: 400px; /* Устанавливаем максимальную высоту блока */
    margin: 0 auto; 
    text-align: center;
    
    padding: 20px;
   

}
.tabl {
    background-color:  #556A83(255, 255, 255, 0.2);  
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    width: 400px;
    margin: auto;
    

}

.tabl p {
    margin: 0; 
    font-size: 16px; 
    color: #ffffff; 
}

.container{
    max-width: 1110px;
   
    margin-left: auto;
    margin-right: auto;
}
/* .none{
    display: none !important;
} */


.header{
    display: flex;
    flex-direction: column;/*выстраиваем элементы в колонку */
    justify-content: center; /*выравниваем по осноаной оси */
    align-items: center;/*выравниваем по поперечной оси*/
   

    width: 100%;
    height: 100vh;
    background-color :#556A83;
    background-image: url("../static/img/header/bg.png");
    background-size: cover;
    background-position: center;
  
    position: relative;
}
    
.header-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
.header-subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-arrow{
   width: 48px;
   height: 48px;
   /* background-color: red ;  */
   position: absolute;
   bottom: 200px;
   left: 50%;
   transform: translate(-50%,0);
   z-index: 1000;
   cursor: pointer;
   /* visibility: collapse; */
   border-radius: 50px;
   box-shadow: inset 0 0 0 2px #71b7c8;
   /* opacity: 1;
   transition: .1s;
   transform: translateX(1px);  */
   opacity: 0;
   animation: ani 3s forwards;
	}
    @keyframes ani {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }   
.header-arrow:hover{
    color: #000000;
}

/* Portfolio */
.portfolio{
   
    padding-top: 80px;
    padding-bottom: 115px;
    

   
}
.portfolio-header{
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 70px;
    
       
}

.portfolio-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.card{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    max-width: 540px;
    padding: 20px;

    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
	opacity: 1
    
}

   /* Основная информация */

.foto{
    border-radius: 100px;
    width: 170px; 
}
/* .me{
    border-radius: 10%;
} */
.text{
    outline-color: #FFFFFF;
    
    width: 370px;  
} 
.text-info{
    display: block;
    font-size: 1.17em;
    margin: 5px;
   
    margin-inline-start: 70px;
    
    font-weight: bold;  
}
.title-1{
    margin: 5px; 
}
.text-info-1{
    display: block;
    font-size: 1.17em;
    margin: 5px;
    margin-inline-start: 120px;
      
}
.telegramm{
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 5px;
   
    margin-inline-start: 30px;
    margin-inline-end: 200px;
      
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #556A83; /* фон кнопки */
  padding: .4em 1.2em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */

  box-shadow: 5px 5px 5px rgba(126, 155, 189, 0.8);
  transition: all 0.5s ease-in;
}
.pad  a:hover {
    color: #556A83;
	border: 1px solid #556A83;
	background-color: #ffffff;
}

.whatsapp{
    border-radius: 5px;
    display: block;
    font-size: 1em;
    margin: 5px;
   
    margin-inline-start:170px;
    margin-inline-end: 60px;
    margin-top:-36.5px ;
      
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background:  #556A83; /* фон кнопки */
  padding: .4em 1.2em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */

  box-shadow: 5px 5px 5px rgba(126, 155, 189, 0.8);
	/* border: 1px solid black; */
	/* width: 300px;
	height: 50px */
   
    -webkit-transition: all .25;
    -o-transition: all .25;
    transition: all .25;
    transition: all 0.5s ease-in;
}

/* Образование */
.text-info-o {
    margin-inline-start: 120px;
}
.edukation  {
    margin-inline-start: 50px;
}

/* опыт работы */

.text-info-j{
    margin-left: 200px;
}

.button-1 {
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
}
    
.hh{
    /* display: block;
    margin: 5px */
    margin-inline-start:-10px;
    
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 43px;

    border: 5px solid rgba(214, 0, 28, 1);
    border-radius: 50px;
    color: #ffffff;
    background: rgba(214, 0, 28, 1);

    font-weight: 700;
    font-size: 16px;  
   
    text-decoration: none;

    -webkit-transition: all .25;
    -o-transition: all .25;
    transition: all .25;
    transition: all 0.5s ease-in;

    box-shadow: 5px 5px 5px rgba(126, 155, 189, 0.8); 
 }

 .pf{
    margin-inline-start:30px;
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 43px;

    border: 5px solid  #556A83;
    border-radius: 50px;
    color: #ffffff;
    background:  #556A83;

    font-weight: 700;
    font-size: 16px;  
   
    text-decoration: none;

    -webkit-transition: all .25;
    -o-transition: all .25;
    transition: all .25;
    transition: all 0.5s ease-in;

    box-shadow: 5px 5px 5px rgba(126, 155, 189, 0.8); 

 }



 .button-1 a:hover{
    color: #556A83;
	border: 3px solid #556A83;
	background-color: #ffffff;
 }
.pf{

}

.text-info-z{
    margin-inline-start:160px;
}
.text-z{
    width: 540px;
}

/* footer */

.footer{
    padding-top: 45px;
    padding-bottom: 130px;
    background: #a9b8cbfe;
    /* background: #556A83; */
   height: 200px; 
   color: #fffffffe;
}
.footer-row{
    display: flex;
    justify-content: space-between;

}

.footer-col{
    max-width: 350px;
    flex-grow: 1;
    }
.footer-col a:hover{
    color: #ffffff;
	border: 1px solid #ffffff;
	background-color: #556A83;
} 

.footer-copyraight{
    
    color: #fffffffe;
    line-height: 1.3;
    

}
.footer-copyraight-name{

    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
    
}

.footer-copyraight-name p{
    margin: 0;
    margin-bottom: 15px ;
    font-size: 16px;
    font-weight: 600px;
}

.footer-icons{
  
    text-align: center;
    
}
  
.footer-icons-row{
    display: flex;
    align-items: center;
    display: inline-block;
   
}
.footer-icons-row img {
    fill: var(--icon-color); /* Устанавливает цвет fill на красный */
}

.footer-icons-row > *+* {
    
    margin-left: 30px;
}

.footer-icons p{

font-weight: 600;
font-size: 16px;
line-height: 130%;
}

.footer-telegramm{

}

.footer-button{
    
    display: inline-block;
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 44px;

    border: 1px solid #fffffffe;
    border-radius: 10px;
    color: #fffffffe;

    font-weight: 700;
    font-size: 16px;  
    text-transform: uppercase;
    text-decoration: none;
    transition: all 1s ease-in
 }
