<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../static/other_style.css">
    <link rel="stylesheet" href="../static/media.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "header none">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
            <a class="navbar-brand" href="#">IB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">My_profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view">All_data</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <div class = "header-arrow">
            <img src="../static/img/header/chevron-down.svg" alt="">
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-copyraight footer-col">
                    <div class="footer-copyraight-name">© by Bogatyrev Ioann</div>
                    <p></p>
                </div>

                <div class="footer-icons ">
                    <p>Мои профили в социальных сетях</p>
                    <div class="footer-icons-row">
                        <a href="#">
                            <img src="../static/img/footer/instagram.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/footer/facebook.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/footer/linkedin.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/footer/vk.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="../static/img/footer/github.svg" alt="">
                        </a>
                    </div>
                </div>
                
                <div class="footer-telegramm footer-col">
                    <a href="https://t.me/hlebobylochnoenasilie" class="footer-button">
                        Связаться со мной
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
