{% extends "base.html" %}
{% block title %}Пользователь{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">
                {% for msg in messages %}
                    <p class="message">{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="user-list">
        <ul>
            {% for user in users %}
            <li>
                <a href="{{ url_for('profile', username=user.name) }}">Пользователь {{ user.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="user-info">
        <p>Имя пользователя: {{ user_name }}</p>
        <p>Электронная почта: {{ email }}</p>
    </div>

    <div class="container"> 
  
        <div class="chat">
            <h2>Общий чат:</h2>
            <div class="message_last">
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message.user.name }}: {{ message.content }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="first-container">
                <form action="#" method="POST">
                    <p class="name-input">------------------------------------------</p>
                    <textarea name="content" placeholder="сообщение" class="input-field"></textarea>
                    <input type="submit" name="submit_message" value="Отправить" class="submit-button"/>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        var generalChatMessageLast = document.querySelector('.chat .message_last');
        generalChatMessageLast.scrollTop = generalChatMessageLast.scrollHeight;
    </script>

{% endblock %}