{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="messages">
                {% for msg in messages %}
                    <p class="message">{{ msg }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    <!-- <h2>All Messages:</h2> -->
    <div class="message_last">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message.user.name }}: {{ message.content }}</p>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="first-container">
        <form action="#" method="POST">
            <p class="name-input">------------------------------------------</p>
            <textarea name="content" placeholder="Введите ваше сообщение" class="input-field"></textarea>
            <input type="submit" name="submit_message" value="Отправить" class="submit-button"/>
        </form>
    </div>
    
{% endblock %}