{% extends "base.html" %}
{%block title %}User{%endblock%}
{%block content%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class = "message">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class = "name">
<form action="#" method="POST">
    <p class = "name-input">Электронная почта</p>
    <input type="email" name="email" placeholder="Email" value="{{email if email}}" class="input-field"/>
    <input type="submit" value="сохранить" class="submit-button"/>
</form>
</div>
{%endblock%}